/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: black;
}

#cell  {
	-fx-cursor: hand;
	}

#cellSeen {
	-fx-cursor: crosshair; 
	}

.button {
	-fx-background-color: white;
	-fx-cursor: hand;
	-fx-border-color: white;
	-fx-border-style: solid;
	}